<nav class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
      <a class="text-white text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase" href="/">
        <%= t 'web.enterprise.name' %>
      </a>
      <button class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button">
        <i class="text-white fas fa-bars"></i>
      </button>
    </div>
    <div class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none hidden" id="example-navbar-warning">
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <% unless ['sessions', 'registrations', 'passwords'].include? controller_name  %>
          <li class="flex items-center">
            <a class="btn-primary btn-small" href="/users/sign_in">
              <i class="fas fa-sign-in-alt"></i>
              <%= t 'web.header.login' %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
