<main id="edit_product">
  <section class="w-full h-full bg-blueGray-800">
    <div class="relative pt-32 pb-32 flex content-center items-center justify-center" >
      <div class="w-full lg:w-6/12 px-4" >
        <div class="relative flex flex-col min-w-0 break-words w-full mt-10 mb-10  p-5 shadow-lg rounded-lg bg-blueGray-200">
          <h2 class="text-2xl font-semibold text-center text-blueGray-700 mb-5" >
            <%= t 'web.product.edit_product'  %>
          </h2>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </section>
</main>
